.header__section{
    background-color: rgb(255, 170, 0); 
    padding: 20px 0 10px 0;
    text-transform: uppercase;
    margin-top: 10px;
}
.best_among_all{
    color: #ffffff;
}
.firstPage{
    padding-left: 10px;
    border-bottom: solid brown 10px;
    border-left: solid brown 10px;

}
.form_all{
    border: 2px solid rgb(42, 41, 41);
}
.form__head{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(42, 41, 41);
}
.form__head>p{
    padding: 10px 10px 0 10px;
    
    text-transform: uppercase;
}
/* school fees */
.scholFees{
    border: 2px solid rgb(42, 41, 41);
     

}
.row__padding{
    padding: 0 10px;
}
.requirement>h5{
    text-transform: uppercase; 
}
.paymentMode{
    text-transform: uppercase; 
    border: rgb(255, 170, 0) 2px solid;   
    padding: 0 10px;
}
.lastPage{
    border-bottom: solid brown 10px;
    border-right: solid brown 10px;
    padding-right: 10px;
}
/* last page */
.center__best_among__all{
   
   text-align: center;
   font-size: bolder;
   border-radius: 90%;
   padding-bottom: 30px;
}
 